*{
	margin: 0;
	padding: 0;
}
body{
	font: 12px/1.6 "Hiragino Sans GB",STHeiti,"微软雅黑","Microsoft YaHei",Helvetica,Arial,serif;
}
a{text-decoration: none;}
li{list-style-type: none;}
.clearfix::after,.clearfix::before{
	content:"";
	display: table;
}
.clearfix::after{
	clear: both;
}
.top_bar{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #333;
	color: #999;
	position: fixed;
	z-index: 10;
}
.top_bar ul.bar-left{
	height: 40px;
	float: left;
}
.top_bar ul.bar-left li{
	float: left;
	list-style-type: none;
	margin-right: 10px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0 8px;
}
.top_bar ul.bar-left a{
	text-decoration: none;
	color: #ccc;
	display: block;
	font-size: 14px;
	height: 40px;
}

.top_bar ul.bar-left a.top_bar_logo i{
	font-style: normal;
	width: 55px;
	display: block;
	height: 14px;
	float: left;
	margin: 13px 10px 0 0 ;
	text-indent: -9999em;
	background: url(//static.meishichina.com/v6/img/lib/top-bar110.png) no-repeat scroll 0 0/55px auto;
}
.top_bar ul.bar-left a:hover{
	color:#fff;
	background: black;
}
.top_bar li.top_bar_more i{
	display: block;
	border: 4px dashed transparent;
	border-top: 6px solid #CCCCCC;
	margin: 18px auto 0;
	overflow: hidden;
    width: 0;
    height: 0;
} 
.top_bar ul.bar-left li:hover{
	cursor: pointer;
	background: #000000;
}
.top_bar ul.bar-left li.top_bar_more{
	width: 30px;
	height: 40px;
	position: relative;
}
.top_bar li.top_bar_more .put_bottom{
	top: 40px;
    right: 0;
	display: none;
	position: absolute;
	
}
.top_bar li.top_bar_more .put_bottom a{
	width: 66px;
	height: 40px;
	background:#333 ;
}
.top_bar li.top_bar_more .put_bottom a:hover{
	background: #000000;
}
.top_bar li.top_bar_more:hover div.put_bottom{
	display: block;
}
.top_bar .nr3 div.nr3_img{
	width: 60px;
	height: 40px;
	float: right;
	background: #FE5761;
}
.top_bar .nr3 div.nr3_img img,.top_bar_user img{
	width: 18px;
	height: 18px;
	display: block;
    margin: 2px auto;
}
.top_bar .nr3 div.nr3_img span{
	display: block;
    width: 36px;
    height: 18px;
    line-height: 18px;
    padding: 0 13px;
    color: #FFFFFF;
}
.top_bar .nr3 div.nr3_img div.two_code{
	position: absolute;
	right: 10px;
	top: 40px;
	display: none;
}
.top_bar .nr3 div.nr3_img div.two_code img{
	width: 100px;
	height: 100px;
	
}
.top_bar .nr3 div.nr3_img:hover div.two_code{
	display: block;
}
.top_bar .top_bar_user{
	width: 270px;
	height: 40px;
	line-height: 40px;
	float: right;
}
.top_bar .top_bar_user ul li{
	float: left;
	width: 50px;
	height: 40px;
	line-height: 40px;
	list-style-type: none;
}
.top_bar_user .top_bar_good{
	 background: #FFA859;
	 padding: 0 5px;
}
.top_bar_user .top_bar_good1{
	background: #59C3D1;
	 padding: 0 5px;
	 position: relative;
}
.top_bar_user .top_bar_good1 div.put_info{
	position: absolute;
	top: 40px;
	right: 0;
	display: none;
}
.top_bar_user .top_bar_good1 div.put_info a{
	width: 60px;
	height: 40px;
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	background:#59C3D1 ;
}
.top_bar_user .top_bar_word{
	font-size: 14px;
	
}
.top_bar_user .top_bar_word a{
	text-decoration: none;
	color: #CCCCCC;
}
.top_bar_user .top_bar_word:hover{
	color: white;
	background: #000000;
}
.top_bar_user span{
	display: block;
    width: 50px;
    height: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.top_bar_user .top_bar_good2{
	width: 60px;
	height: 40px;
	padding: 0 5px;
    margin-right: 0px;
    margin-left: -10px;
}
.top_bar_user .top_bar_good2 a{
	text-decoration: none;
}
.top_bar_good2 .put_info2 span{
	padding-left: 4px;
}
.top_bar_good2 .put_info2 a.weibo{
	background-color:rgb(88,87,87);
	width: 60px;
	height: 40px;
	display: block;
	margin-top: -2px;
	margin-left: -10px;
}
.top_bar_good2 .put_info2 a.weixin{
	background-color:rgb(169,169,169);
	width: 60px;
	height: 40px;
	display: block;
	margin-top: -2px;
	margin-left: -10px;
}
.top_bar_user .top_bar_good1:hover div.put_info{
	display: block;
}
.top_bar_user .top_bar_good2:hover{
	background: #000000;
}
.top_bar_user div.put_info2{
	display: none;
	margin-left: 5px;
}
.top_bar_user .top_bar_good2:hover div.put_info2{
	display: block;
}
.logo_wrap2{
	width: 990px;
	height:115px;
    padding-top: 50px;
    margin-left:180px;
}
.logo_wrap2 div.logo_inner{
	width: 108px;
	height: 60px;
	float: left;
}
.logo_wrap2 div.logo_inner a{
	text-decoration: none;
	color: #333333;
	font-size: 20px;
	display: block;
	margin-top: 15px;
	font-weight: 600;
}.logo_wrap2 div.logo_search{
	width:247px;
	height:28px;
	float: right;
	margin-top: 15px;
	position: relative;
}
.logo_wrap2 div.logo_search input{
	width:160px;
	height:28px;
	border: 1px solid #ccc;
    border-right: none;
    border-radius: 3px 0 0 3px;
    outline: none;
}
.logo_wrap2 div.logo_search a.btn{
	width: 80px;
	height: 30px;
	display: inline-block;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-size: 14px;
	z-index: -5;
	color: #FFFFFF;
	background: #999 url(https://static.meishichina.com/v6/img/lib/search.png) no-repeat scroll 12px center/16px auto;
}
.logo_wrap2 div.logo_nav{
	width: 480px;
	height: 60px;
	margin-right: 10px;
	float: right;
	padding-left: 40px;
}
.logo_wrap2 div.logo_nav a{
	display:inline-block;
	font-size: 20px;
	height: 60px;
	line-height:60px;
	color: #333333;
	margin-left: 18px;
}
.logo_wrap2 div.logo_nav a.on{
	color: #FF6767;
	margin-left: 0;
}
.container{
	width: 990px;
	margin: 0 auto;
	height: 1000px;
}
.container div.w1{
	width: 990px;
	height: 360px;
	position: relative;
}
.container .carousal{
	width: 990px;
	height: 360px;
	overflow: hidden;
	position: relative;
}

.container .carousal_ul li{
	width: 990px;
	height: 360px;
	float: left;
	list-style-type: none;
}
.container .carousal_ul{
	width: 4950px;
	height: 360px;
}
.carousal .label1,.carousal .label2,.carousal .label3,.carousal .label4,
.carousal .label5{
        position: absolute;
        top:170px;
        width: 20px;
        height: 20px;
        margin: 0 10px;
        line-height: 20px;
        color: #FFF;
        background: #000;
        cursor: pointer;
}
.carousal .label1{
	 right: 200px;
}
.carousal .label2{
	 right: 220px;
}
.carousal .label3{
	 right: 240px;
}
.carousal .label4{
	 right: 260px;
}
.carousal .label5{
	 right: 280px;
}
 
    #Input1:checked ~ ul{ margin-left: 0;}
    
    #Input2:checked ~ ul{ margin-left: -990px;}
    #Input3:checked ~ ul{ margin-left: -1980px;}
    #Input4:checked ~ ul{ margin-left: -2970px;}
    #Input5:checked ~ ul{ margin-left: -3960px;}
    
.container .carousal_ul img{
	width: 990px;
	height: 360px;
}
.container .carousal_ul{
	width: 4950px;
	height: 360px;
	animation: myani 25s 5s alternate ease-in-out infinite;
    -ms-animation: myani 25s 5s alternate ease-in-out infinite;
    -moz-animation: myani 25s 5s alternate ease-in-out infinite;
    -webkit-animation: myani 25s 5s alternate ease-in-out infinite;
}
/* 对动画的关键帧进行设置*/
            @keyframes myani {
                0%,14% {
                    margin-left: 0px;
                }
                21%,35%{
                    margin-left: -990px;
                }
                42%,56% {
                    margin-left: -1980px;
                }
                63%,77% {
                    margin-left: -2970px;
                }
                86%,to{
                    margin-left: -3960px;
                }
            }
            /*对动画的关键帧进行兼容处理*/
            @-webkit-keyframes myani {
                 0% {
                    margin-left: 0px;
                }
                25% {
                    margin-left: -990px;
                }
                50% {
                    margin-left: -1980px;
                }
                75% {
                    margin-left: -2970px;
                }
                100% {
                    margin-left: -3960px;
                }
            }

            @-moz-keyframes myani {
                 0% {
                    margin-left: 0px;
                }
                25% {
                    margin-left: -990px;
                }
                50% {
                    margin-left: -1980px;
                }
                75% {
                    margin-left: -2970px;
                }
                100% {
                    margin-left: -3960px;
                }
            }

            @-ms-keyframes myani {
                  0% {
                    margin-left: 0px;
                }
                25% {
                    margin-left: -990px;
                }
                50% {
                    margin-left: -1980px;
                }
                75% {
                    margin-left: -2970px;
                }
                100% {
                    margin-left: -3960px;
                }
            }


.container div.w1 .w1_l{
	width: 220px;
	height: 340px;
	padding-top: 20px;
	position: absolute;
	top: 0;
	left: 0;
	background:rgba(68,68,68,.4);
}
.container div.w1 .w1_l .w1_l_ul{
	width: 220px;
	height: 300px;
	position: relative;
}
.container div.w1 .w1_l .w1_l_li{
	width: 220px;
	height: 60px;
	color: #fff;
	display: block;
	font-size: 18px;
	list-style-type: none;
}
.container div.w1 .w1_l .w1_l_li:hover{
	cursor: pointer;
	background-color: #FF6767;
}
.container div.w1 .w1_l .w1_l_li a.w1_l_a{
	width: 220px;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
	display: block;
	padding: 20px 0;
}
.container div.w1 .w1_l .w1_l_li i{
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	margin: 0 10px 0 20px;
	background: rgba(0,0,0,0) url(https://static.meishichina.com/v6/img/model/icon.png) no-repeat scroll 0 0/auto 20px;
}
.container div.w1 .w1_l .w1_l_li i.w1_i1{
	background: rgba(0,0,0,0) url(https://static.meishichina.com/v6/img/model/icon.png) no-repeat scroll 0 0/auto 20px;
}
.container div.w1 .w1_l .w1_l_li i.w1_i2{
	background-position: -20px 0;
}
.container div.w1 .w1_l .w1_l_li i.w1_i3{
	background-position: -120px 0;
}
.container div.w1 .w1_l .w1_l_li i.w1_i4{
	background-position: -60px 0;
}
.container div.w1 .w1_l .w1_l_li i.w1_i5{
	background-position: -80px 0;
}
.container div.w1 .w1_l .w1_l_li span.border1{
	width: 8px;
	height:8px;
	border-top: 2px solid white;
	border-right: 2px solid white;
	-webkit-transform: rotate(45deg);
	/*解决浏览器兼容问题*/
	-webkit-transition: prop time;
    -moz-transition: prop time;
    -ms-transition: prop time;
    -o-transition: prop time;
    transition: prop time;
	float: right;
	margin-top: 6px;
	margin-right: 20px;
}
.container div.w1 .w1_l .w1_l_li div.w1_r1,.container div.w1 .w1_l .w1_l_li div.w1_r2,
.container div.w1 .w1_l .w1_l_li div.w1_r3,.container div.w1 .w1_l .w1_l_li div.w1_r4,
.container div.w1 .w1_l .w1_l_li div.w1_r5{
	position: absolute;
	top: -20px;
	left: 219px;
	width:400px;
	height: 338px;
	box-shadow: 3px 2px 5px rgba(0,0,0,.2);
	background-color: #FFFFFF;
	color: #000000;
	padding: 22px 50px 0;
	display: none;
}
.w1_r1 .w1_r_li,.w1_r2 .w1_r_li,.w1_r3 .w1_r_li,.w1_r4 .w1_r_li,.w1_r5 .w1_r_li{
	float: left;
}
.w1_r1 .w1_r_li a,.w1_r2 .w1_r_li a,.w1_r3 .w1_r_li a,
.w1_r4 .w1_r_li a,.w1_r5 .w1_r_li a{
	width: 130px;
	height: 70px;
	display: block;
}
.w1_r1 .w1_r_li a span.w1_r_span1,.w1_r2 .w1_r_li a span.w1_r_span1,
.w1_r3 .w1_r_li a span.w1_r_span1,.w1_r4 .w1_r_li a span.w1_r_span1,.w1_r5 .w1_r_li a span.w1_r_span1{
	display: block;
	color: #000;
	margin-top: 13px;
    margin-left: 27px;
}
.w1_r1 .w1_r_li a span.w1_r_span2,.w1_r2 .w1_r_li a span.w1_r_span2,
.w1_r3 .w1_r_li a span.w1_r_span2,.w1_r4 .w1_r_li a span.w1_r_span2,
.w1_r5 .w1_r_li a span.w1_r_span2{
	display: block;
	color: #999999;
	font-size: 12px;
    margin-left: 27px;
}
.container div.w1 .w1_l .item1:hover .w1_r1{
	display: block;
}
.container div.w1 .w1_l .item2:hover .w1_r2{
	display: block;
}
.container div.w1 .w1_l .item3:hover .w1_r3{
	display: block;
}
.container div.w1 .w1_l .item4:hover .w1_r4{
	display: block;
}
.container div.w1 .w1_l .item5:hover .w1_r5{
	display: block;
}
.container div.w2{
	width: 990px;
	height: 90px;
	margin-top: 10px;
	padding: 15px 0 15px;
	background: #eee;
}
.container div.w2 .w2_slider{
	width: 950px;
	height: 90px;
	margin: 0 40px;
}
.w2_slider_li{
	width: 303px;
	height: 90px;
	float: left;
}
.w2_slider_li2,.w2_slider_li3{
	margin-left: 20px;
}

.w2_slider_li a.w2_slider_a1{
	display: block;
	font-size: 20px;
	color: #333;
}
.w2_slider_li .w2_span1{
	display: block;
	color: #999999;
}
.w2_slider_li .w2_span2{
	color: #333;
}


.J_footer{
	width: 100%;
	height: 112px;
	margin-top: 15px;
}
/*需要调整位置的地方*/
.J_footer div.w{
	width: 990px;
	height: 112px;
	border-top: 1px solid #999999;
	margin-top: -500px;
}
.J_footer div.footer_l{
	width: 680px;
	height: 72px;
	margin-top: -80px;
}
.J_footer div.footer_l a.footer_l_a{
	width: 680px;
	height:22px;
	dispaly:block;
	font-size: 14px;
	color: #f50;
}
.J_footer div.footer_l a.footer_l_a:hover{
	border-bottom: 1px solid #f50;
}
.J_footer div.footer_l div.footer_info a{
	color: #666;
	font-size: 12px;
}
.J_footer div.footer_l span.footer_span{
	color: #666666;
}
div.ft3,div.ft4{
	width: 82px;
	height: 101px;
	float: right;
	margin-top: -75px;
	text-align: center;
}
div.ft3 img,div.ft4 img{
	width: 82px;
	height: 82px;
}
div.ft4{
	margin-right: 25px;
}
