*{
	margin: 0;
	padding: 0;
}
body{
	font: 12px/1.6 "Hiragino Sans GB",STHeiti,"微软雅黑","Microsoft YaHei",Helvetica,Arial,serif;
}
a{text-decoration: none;}
.clearfix::after,.clearfix::before{
	content:"";
	display: table;
}
.clearfix::after{
	clear: both;
}
.top_bar{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #333;
	color: #999;
	position: fixed;
	z-index: 10;
}
.top_bar ul.bar-left{
	height: 40px;
	float: left;
}
.top_bar ul.bar-left li{
	float: left;
	list-style-type: none;
	margin-right: 10px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0 8px;
}
.top_bar ul.bar-left a{
	text-decoration: none;
	color: #ccc;
	display: block;
	font-size: 14px;
	height: 40px;
}

.top_bar ul.bar-left a.top_bar_logo i{
	font-style: normal;
	width: 55px;
	display: block;
	height: 14px;
	float: left;
	margin: 13px 10px 0 0 ;
	text-indent: -9999em;
	background: url(//static.meishichina.com/v6/img/lib/top-bar110.png) no-repeat scroll 0 0/55px auto;
}
.top_bar ul.bar-left a:hover{
	color:#fff;
	background: black;
}
.top_bar li.top_bar_more i{
	display: block;
	border: 4px dashed transparent;
	border-top: 6px solid #CCCCCC;
	margin: 18px auto 0;
	overflow: hidden;
    width: 0;
    height: 0;
} 
.top_bar ul.bar-left li:hover{
	cursor: pointer;
	background: #000000;
}
.top_bar ul.bar-left li.top_bar_more{
	width: 30px;
	height: 40px;
	position: relative;
}
.top_bar li.top_bar_more .put_bottom{
	top: 40px;
    right: 0;
	display: none;
	position: absolute;
	
}
.top_bar li.top_bar_more .put_bottom a{
	width: 66px;
	height: 40px;
	background:#333 ;
}
.top_bar li.top_bar_more .put_bottom a:hover{
	background: #000000;
}
.top_bar li.top_bar_more:hover div.put_bottom{
	display: block;
}
.top_bar .nr3 div.nr3_img{
	width: 60px;
	height: 40px;
	float: right;
	background: #FE5761;
}
.top_bar .nr3 div.nr3_img img,.top_bar_user img{
	width: 18px;
	height: 18px;
	display: block;
    margin: 2px auto;
}
.top_bar .nr3 div.nr3_img span{
	display: block;
    width: 36px;
    height: 18px;
    line-height: 18px;
    padding: 0 13px;
    color: #FFFFFF;
}
.top_bar .nr3 div.nr3_img div.two_code{
	position: absolute;
	right: 10px;
	top: 40px;
	display: none;
}
.top_bar .nr3 div.nr3_img div.two_code img{
	width: 100px;
	height: 100px;
	
}
.top_bar .nr3 div.nr3_img:hover div.two_code{
	display: block;
}
.top_bar .top_bar_user{
	width: 270px;
	height: 40px;
	line-height: 40px;
	float: right;
}
.top_bar .top_bar_user ul li{
	float: left;
	width: 50px;
	height: 40px;
	line-height: 40px;
	list-style-type: none;
}
.top_bar_user .top_bar_good{
	 background: #FFA859;
	 padding: 0 5px;
}
.top_bar_user .top_bar_good1{
	background: #59C3D1;
	 padding: 0 5px;
	 position: relative;
}
.top_bar_user .top_bar_good1 div.put_info{
	position: absolute;
	top: 40px;
	right: 0;
	display: none;
}
.top_bar_user .top_bar_good1 div.put_info a{
	width: 60px;
	height: 40px;
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	background:#59C3D1 ;
}
.top_bar_user .top_bar_word{
	font-size: 14px;
	
}
.top_bar_user .top_bar_word a{
	text-decoration: none;
	color: #CCCCCC;
}
.top_bar_user .top_bar_word:hover{
	color: white;
	background: #000000;
}
.top_bar_user span{
	display: block;
    width: 50px;
    height: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.top_bar_user .top_bar_good2{
	width: 60px;
	height: 40px;
	padding: 0 5px;
    margin-right: 0px;
    margin-left: -10px;
}
.top_bar_user .top_bar_good2 a{
	text-decoration: none;
}
.top_bar_good2 .put_info2 span{
	padding-left: 4px;
}
.top_bar_good2 .put_info2 a.weibo{
	background-color:rgb(88,87,87);
	width: 60px;
	height: 40px;
	display: block;
	margin-top: -2px;
	margin-left: -10px;
}
.top_bar_good2 .put_info2 a.weixin{
	background-color:rgb(169,169,169);
	width: 60px;
	height: 40px;
	display: block;
	margin-top: -2px;
	margin-left: -10px;
}
.top_bar_user .top_bar_good1:hover div.put_info{
	display: block;
}
.top_bar_user .top_bar_good2:hover{
	background: #000000;
}
.top_bar_user div.put_info2{
	display: none;
	margin-left: 5px;
}
.top_bar_user .top_bar_good2:hover div.put_info2{
	display: block;
}
.logo_wrap2{
	width: 990px;
	height:115px;
    padding-top: 50px;
    margin-left:180px;
}
.logo_wrap2 div.logo_inner{
	width: 108px;
	height: 60px;
	float: left;
}
.logo_wrap2 div.logo_inner a{
	text-decoration: none;
	color: #333333;
	font-size: 20px;
	display: block;
	margin-top: 15px;
	font-weight: 600;
}
.logo_wrap2 div.logo_current{
	width: 70px;
	height: 30px;
	float: left;
	margin-left: 10px;
    margin-top: 15px;
}
.logo_wrap2 div.logo_current a{
	width: 70px;
	height: 30px;
	display: block;
	background: #FF838B;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 20px;
	padding-bottom: 2px;
	
}
.logo_wrap2 div.logo_search{
	width:247px;
	height:28px;
	float: right;
	margin-top: 15px;
	position: relative;
}
.logo_wrap2 div.logo_search input{
	width:160px;
	height:28px;
	border: 1px solid #ccc;
    border-right: none;
    border-radius: 3px 0 0 3px;
    outline: none;
}
.logo_wrap2 div.logo_search a.btn{
	width: 80px;
	height: 30px;
	display: inline-block;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-size: 14px;
	z-index: -5;
	color: #FFFFFF;
	background: #999 url(https://static.meishichina.com/v6/img/lib/search.png) no-repeat scroll 12px center/16px auto;
}
.logo_wrap2 div.logo_nav{
	width: 309px;
	height: 40px;
	padding-right: 40px;
	float: right;
	margin-top: 15px;
}
.logo_wrap2 div.logo_nav a{
	width: 32%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	color: #333333;
}
.logo_wrap2 div.logo_nav a.logo_search_a{
	color: #ff6767;
}
.logo_wrap2 div.logo_nav a:hover{
	color: #ff6767;
}
.container{
	width: 990px;
	margin: 0 auto;
}
.nav_wrap2{
	width: 990px;
	height: 36px;
	margin-top: -45px;
	border-top: 1px solid #ff6767;
	border-bottom: 1px solid #ff6767;
}
.nav_wrap2 a{
	color: #333333;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	float: left;
	padding: 0 10px;
}
.nav_wrap2 a.nav_wrap2_a1{
	color: #FF6767;
}
.nav_wrap2 a:hover{
	color: #FF6767;
}
.wrap{
	height: 1000px;
}
.wrap .home_index_slider{
	width: 990px;
	height: 225px;
	overflow: hidden;
	margin-top: 10px;
	position: relative;
}
.wrap .home_index_slider ul.home_index_ul{
	width: 9000000px;
	height: 225px;
}
.wrap .home_index_slider ul li{
	width: 345px;
	height: 225px;
	float: left;
	position: relative;
}
.wrap .home_index_slider ul li img{
	margin-top: -35px;
	position: relative;
}
.wrap .home_index_slider ul li p.line2{
	position: absolute;
	z-index: 5;
	top: 66px;
    right: 72px;
    width: 240px;
    height: 75px;
    line-height: 75px;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.home_index_slider ul li span{
	display: block;
    margin-top: -40px;
    font-size: 12px;
}

.home_index_slider a.preBtn{
	width: 40px;
	height: 50px;
	position: absolute;
	display: block;
	background: #000;
	opacity: .3;
	z-index: 10;
	border: 1px solid seagreen;
	top: 92px;
    left: 0
}
.home_index_slider a.nextBtn{
	width: 40px;
	height: 50px;
	position: absolute;
	background: #000;
	opacity: .3;
	z-index: 10;
	border: 1px solid seagreen;
	top:92px;
    right: 0;
}
.home_index_slider a.preBtn:focus ~ .home_index_ul{
	margin-right: -1036px;
}
.home_index_slider a.nextBtn:focus ~ .home_index_ul{
	margin-right: 1036px;
}
.wrap .recipe_index{
	width: 990px;
	height: 77px;
	margin-top: 20px;
}
.wrap .recipe_index a{
	float: left;
	margin-left: 28px;
	color: #333333;
}
.wrap .recipe_index a img{
	width: 50px;
	height: 50px;
	margin: 0 10px 0;
}
.wrap .recipe_index a span{
	display: block;
	font-size: 14px;
	margin-left: 10px;
}
.wrap .recipe_index a span:hover{
	color: #FF6767;
}
.ui_title{
	width: 990px;
	height: 35px;
	margin-top: 30px;
	line-height: 35px;
}
.ui_title a{
	font-size: 20px;
	color: #333;
	margin-right: 20px;
	font-weight: 400;
}
.ui_title a.ui_title_a1{
	color: #FF6767;
	border-bottom:3px solid #FF6767;
}
.ui_title a.all{
	float: right;
	font-size: 16px;
}
.ui_title a.all:hover{
	color: #FF6767;
}
.big_list,.big_list2,.big_list3{
	width: 990px;
	height: 2440px;
	margin-top: 10px;
}
.big_list li,.big_list2 li,.big_list3 li{
	width: 230px;
	height: 305px;
	list-style-type: none;
	float: left;
	margin-left:15px;
}
.big_list li a.big_list_img img,.big_list2 li a.big_list_img img,
.big_list3 li a.big_list_img img{
	width: 230px;
	height: 230px;
}
.big_list a.big_list_info,.big_list2 a.big_list_info,
.big_list3 a.big_list_info{
	display: block;
	width: 230px;
	height: 31px;
	font-size: 18px;
	color: #333333;
	text-align: center;
	margin-top: -15px;
}
.big_list a.big_list_name,.big_list2 a.big_list_name,
.big_list3 a.big_list_name{
	display: block;
	width: 230px;
	height: 19px;
	height: 19px;
	text-align: center;
	color: #999999;
	font-size: 12px;
	margin-top: -10px;
}
.big_list2,.big_list3{
	display: none;
}
.ui_title a.ui_title_a2:focus ~ .big_list2,.ui_title a.ui_title_a3:focus ~ .big_list3{
	display: block;
}
.ui_title a.ui_title_a2:focus ~.big_list,.ui_title a.ui_title_a2:focus ~.big_list3,
.ui_title a.ui_title_a3:focus ~.big_list,.ui_title a.ui_title_a3:focus ~.big_list2{
	display: none;
}
.ui_title a.ui_title_a2:focus{
	color: #FF6767;
	border-bottom: 3px solid #FF6767;
}
.ui_title a.ui_title_a2:focus ~ a.ui_title_a1{
	color: #333333;
	border: none;
}
.wrap div.ui_loading a{
	width: 990px;
	height: 44px;
	display: block;
	margin-top: 10px;
	margin-top: 625px;
	line-height: 44px;
	text-align: center;
	border-radius: 5px;
	background: #f8f8f8;
	font-size: 18px;
}
.wrap div.ui_loading a{
	color: #FF6767;
}
.wrap div.ui_loading a:hover {
	color: #FFFFFF;
	background: #FF6767;
}
.J_footer{
	width: 100%;
	height: 112px;
	margin-top: 75px;
}
.J_footer div.w{
	width: 990px;
	height: 112px;
	border-top: 1px solid #999999;
}
.J_footer div.footer_l{
	width: 680px;
	height: 72px;
	margin-top: -80px;
}
.J_footer div.footer_l a.footer_l_a{
	width: 680px;
	height:22px;
	dispaly:block;
	font-size: 14px;
	color: #f50;
}
.J_footer div.footer_l a.footer_l_a:hover{
	border-bottom: 1px solid #f50;
}
.J_footer div.footer_l div.footer_info a{
	color: #666;
	font-size: 12px;
}
.J_footer div.footer_l span.footer_span{
	color: #666666;
}
div.ft3,div.ft4{
	width: 82px;
	height: 101px;
	float: right;
	margin-top: -75px;
	text-align: center;
}
div.ft3 img,div.ft4 img{
	width: 82px;
	height: 82px;
}
div.ft4{
	margin-right: 25px;
}
